In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('train.csv')

In [3]:
df.sample(10)

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
5204,5204,NaN,No,7.0,6.0,No,8.0,8.0,Extrovert
7167,7167,4.0,No,8.0,NaN,No,11.0,9.0,Extrovert
2245,2245,1.0,No,10.0,5.0,No,9.0,4.0,Extrovert
2841,2841,NaN,Yes,1.0,NaN,Yes,3.0,2.0,Introvert
10748,10748,2.0,No,5.0,5.0,No,12.0,9.0,Extrovert
16522,16522,9.0,Yes,1.0,0.0,Yes,0.0,1.0,Introvert
11584,11584,0.0,No,10.0,6.0,No,11.0,10.0,Extrovert
5726,5726,7.0,Yes,2.0,1.0,Yes,10.0,0.0,Introvert
6885,6885,6.0,Yes,NaN,0.0,Yes,2.0,0.0,Introvert
11170,11170,8.0,Yes,2.0,2.0,Yes,5.0,3.0,Introvert

In [4]:
df.shape

(18524, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18524 entries, 0 to 18523
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         18524 non-null  int64
 1   Time_spent_Alone           17334 non-null  float64
 2   Stage_fear                 16631 non-null  object
 3   Social_event_attendance    17344 non-null  float64
 4   Going_outside              17058 non-null  float64
 5   Drained_after_socializing  17375 non-null  object
 6   Friends_circle_size        17470 non-null  float64
 7   Post_frequency             17260 non-null  float64
 8   Personality                18524 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 1.3+ MB

In [8]:
# Store original missing values count for comparison
original_missing = df.isna().sum()
print("Missing values before filling:")
print(original_missing[original_missing > 0])

Missing values before filling:
Time_spent_Alone             1190
Stage_fear                   1893
Social_event_attendance      1180
Going_outside                1466
Drained_after_socializing    1149
Friends_circle_size          1054
Post_frequency               1264
dtype: int64

In [9]:
df['Stage_fear'].value_counts()

Stage_fear
No     12609
Yes     4022
Name: count, dtype: int64

In [10]:
df['Drained_after_socializing'].value_counts()

Drained_after_socializing
No     13313
Yes     4062
Name: count, dtype: int64